<%- include('../includes/head.ejs') %>

<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <% if(errorMessage){ %>
            <div class="alert alert-danger"><%= errorMessage %></div>
            <% } %>

            <h3 class="mb-5">تعویض رمز عبور</h3>

            <form action="/new-password" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" name="userId" value="<%= userId %>" />
              <input
                type="hidden"
                name="passwordToken"
                value="<%= passwordToken %>"
              />
              <div class="form-outline mb-4">
                <input
                  name="password"
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  placeholder="رمز عبور جدید را وارد کنید"
                />
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                بروزرسانی
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../includes/end.ejs') %>
